<!-- serializers/templates/person_list.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Person List</title>
    
        <style>
            /* Add some basic styling to limit width and enable horizontal scrolling */
            body {
                max-width: 800px;
                margin:  auto;
                overflow-x: auto;
            }
            pre {
                white-space: pre-wrap;
            }
        </style>
    </head>
<body>
    <h1>Person List</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Person</button>
    </form>

    <h2>Original Format:</h2>
    <ul>
        {% for person in persons %}
            <li>{{ person.name }} - {{ person.age }} years old - {{ person.email }}</li>
        {% endfor %}
    </ul>

    <h2>Serialized Format:</h2>
    <pre>{{ serialized_data | safe }}</pre>

    <h2>De-searialized Format:</h2>
    <pre>{{ deserialized_data | safe }}</pre>
      

</body>
</html>
